name: CI

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:

  test:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0 # needed for versioning
      - name: Set up Java
        uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: 21
          cache: 'gradle'
      - name: Tests
        run: ./gradlew spotlessCheck test --stacktrace

  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0 # needed for versioning
      - name: Set up Java
        uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: 21
          cache: 'gradle'
      - name: Build normally
        run: ./gradlew release --stacktrace
      - name: Upload Normal Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: build/release/*
      - name: Build native
        run: ./gradlew nativeCompile --stacktrace
      - name: Upload Native Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: build/release/*
